.allcard {
  width: 100%;
  height: 500px;
  background-color: rgba(128, 128, 128, 0.145);
  display: flex;
  justify-content: space-around;
  align-items: center;
  &__link {
    height: 400px;
    width: 27%;
    background: rgb(28, 57, 99);
    background: radial-gradient(circle, rgb(47, 97, 166) 0%, rgba(0, 0, 0, 1) 100%);
    border-radius: 10%;
    text-decoration: none;
    &__boxImg {
      width: 100%;
      height: 75%;
    }
    &__text {
      color: rgb(255, 255, 255);
    }
  }
}
.allcardmodifier {
  flex-wrap: wrap;
  height: 1400px;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 864px;
  background-color: rgba(128, 128, 128, 0.24);

  &__content {
    height: 38%;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;

    &__btn {
      @include btnTraiteur;
      border: 3px rgba(0, 0, 0, 0.282) solid;
      border-radius: 40px 40px 40px 40px;
      margin: 5px 0px 5px 0px;
    }
    &__textcontent {
      width: 75%;

      display: flex;
      justify-content: center;

      flex-direction: column;

      p {
        margin: 0;
      }
    }
    &__com {
      font-size: 20px;
      font-weight: 100;
      height: 20%;
      width: 100%;
    }
    &__text {
      height: 35%;
      width: 100%;
    }
  }
}



.animation:nth-child(2n) {
    animation: slid 2.5s ease-in-out 0s 1 normal forwards;

}
.animation:nth-child(2n+1) {
    animation: margin 2.5s ease-in-out 0s 1 normal forwards;

}
.animation:nth-child(0n+7) {
    animation: notslid 2.5s ease-in-out 0s 1 normal forwards;

}
