.allcard {
  width: 100%;
  height: 500px;
  background-color: rgba(128, 128, 128, 0.145);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2% 0%;
  &__link {
    height: 400px;
    width: 27%;
    background: rgb(28, 57, 99);
    background: radial-gradient(circle, rgb(47, 97, 166) 0%, rgba(0, 0, 0, 1) 100%);
    border-radius: 10%;
    text-decoration: none;
    &__boxImg {
      width: 100%;
      height: 75%;
    }
    &__text {
      color: rgb(255, 255, 255);
    }
  }
}
.allcardmodifier {
  flex-wrap: wrap;
  height: 1400px;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1200px;
  &--viande {
    height: 1650px;
  }

  &--accompagnements {
    height: 750px;
  }

  &--paella {
    height: 700px;
  }


  &__content {
    height: 38%;
    width: 80%;
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;

    &--viande {
        height: 19%;
    
    }

    &--accompagnements {
      height: 80%;
    width: 100%;
    }

    &--paella {
      height: 74%;
      width: 47%;
      justify-content: space-around;
      flex-direction: row
    }

    &__btn {
      @include btnTraiteur;
      border-radius: 40px 40px 40px 40px;
      margin: 15px 0px 15px 0px;
      -webkit-box-shadow: 0px 1px 33px 8px rgba(0,0,0,0.56); 
      box-shadow: 0px 1px 33px 8px rgba(0,0,0,0.22);
      transition: all 1s ease-in-out;

    }
    &__textcontent {
      width: 75%;
      display: flex;
      height: 100%;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      p {
        margin: 0px 0px 0px 7%;
        font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
      }
    }
    &__com {
      font-size: 16px;
    font-weight: 100;
    height: 40%;
    width: 100%;
    }
    &__text {
      height: 46%;
      width: 100%;
    }
  }
}



.animation:nth-child(2n) {
    animation: slid 2.5s ease-in-out 0s 1 normal forwards;

}
.animation:nth-child(2n+1) {
    animation: margin 2.5s ease-in-out 0s 1 normal forwards;

}
.animation:nth-child(0n+7) {
    animation: notslid 2.5s ease-in-out 0s 1 normal forwards;

}
