.footer {
    height: 285px;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(28,57,99);
background: radial-gradient(circle, rgba(28,57,99,1) 0%, rgba(0,0,0,1) 100%);

&__list {
    font-size: 20px;
    margin: 1% 0% 1% 0%;
    a {
        color: rgb(138, 136, 136);
    }
}
}