@keyframes slid{
    0% {
        opacity: 0;
        transform: translateX(-2000px);
    }
    
    100% {
        transform: translateX(0px);
           
            opacity: 1;
    }
}
@keyframes slidmobile{
    0% {
        opacity: 0;
        transform: translateX(-500px);
    }
    
    100% {
        transform: translateX(0px);
           visibility: visible;
            opacity: 1;
    }
}
@keyframes notslid{
    0% {
        opacity: 0;
        transform: translateX(2000px);
    }
    
    100% {
        transform: translateX(0px);
           
            opacity: 1;
    }
}
@keyframes margin{
    0% {
        opacity: 0;
        transform: translateY(-1000px);
        
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
            
    }
}