@mixin btnTraiteur {
    height: 25%;
        width:28%;
        background-color: white;
        font-weight: bolder;
        display: flex;
        align-items: center;
        padding: 0%;
        overflow: hidden;
    
}