html,
body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  height: 100%;
}

h1 {
  font-size: 50px;
  text-align: center;
}

h2 {
  font-size: 35px;
  margin: 0;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  font-size: 30px;
  text-align: center;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10% 10% 0% 0%;
}

li {
  list-style-type: none;
}

.header {
  height: 361px;
  width: 100%;
  background: rgb(28, 57, 99);
  background: radial-gradient(circle, rgb(28, 57, 99) 0%, rgb(0, 0, 0) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header__nav {
  width: 100%;
}
.header__nav__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header__nav__list__item {
  list-style-type: none;
  color: white;
}
.header__nav {
  width: 100%;
  margin-top: 1%;
}
.header__nav__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 0;
}
.header__nav__list a {
  text-decoration: none;
  color: white;
  font-size: 27px;
}

.footer {
  height: 285px;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgb(28, 57, 99);
  background: radial-gradient(circle, rgb(28, 57, 99) 0%, rgb(0, 0, 0) 100%);
}
.footer__alllist {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.footer__list {
  font-size: 20px;
  margin-top: 3%;
}
.footer__list a {
  color: rgb(138, 136, 136);
}
.footer__title {
  font-size: 35px;
  margin: 0;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.allcard__title {
  font-size: 50px;
  margin: 0;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu__title {
  color: rgb(0, 0, 0);
  font-size: 40px;
  margin: 0;
  width: 100%;
  height: 11%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu__title--viande {
  height: 4.5%;
}
.menu__title--accompagnements {
  height: 14%;
}

.presentation {
  margin: 3% 10% 4% 10%;
}

.allcard {
  width: 100%;
  height: 500px;
  background-color: rgba(128, 128, 128, 0.145);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2% 0%;
}
.allcard__link {
  height: 87.5%;
  width: 27%;
  background: rgb(28, 57, 99);
  background: radial-gradient(circle, rgb(47, 97, 166) 0%, rgb(0, 0, 0) 100%);
  border-radius: 10%;
  text-decoration: none;
}
.allcard__link__boxImg {
  width: 100%;
  height: 75%;
}
.allcard__link__text {
  color: rgb(255, 255, 255);
}

.allcardmodifier {
  flex-wrap: wrap;
  height: 1400px;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1200px;
}
.menu--viande {
  height: 1650px;
}
.menu--accompagnements {
  height: 750px;
}
.menu--paella {
  height: 700px;
}
.menu__content {
  height: 38%;
  width: 80%;
  display: flex;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.menu__content--viande {
  height: 19%;
}
.menu__content--accompagnements {
  height: 80%;
  width: 100%;
}
.menu__content--paella {
  height: 74%;
  width: 47%;
  justify-content: space-around;
  flex-direction: row;
}
.menu__content__btn {
  height: 105px;
  width: 398px;
  background-color: white;
  font-weight: bolder;
  display: flex;
  align-items: center;
  padding: 0%;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 40px 40px 40px 40px;
  margin: 15px 0px 15px 0px;
  box-shadow: 0px 1px 33px 8px rgba(0, 0, 0, 0.22);
  transition: all 1s ease-in-out;
}
.menu__content__textcontent {
  width: 75%;
  display: flex;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.menu__content__textcontent p {
  margin: 0px 0px 0px 7%;
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__content__com {
  font-size: 16px;
  font-weight: 100;
  height: 40%;
  width: 100%;
}
.menu__content__text {
  height: 46%;
  width: 100%;
}

.animation:nth-child(2n) {
  -webkit-animation: slid 2.5s ease-in-out 0s 1 normal forwards;
          animation: slid 2.5s ease-in-out 0s 1 normal forwards;
}

.animation:nth-child(2n+1) {
  -webkit-animation: margin 2.5s ease-in-out 0s 1 normal forwards;
          animation: margin 2.5s ease-in-out 0s 1 normal forwards;
}

.animation:nth-child(0n+7) {
  -webkit-animation: notslid 2.5s ease-in-out 0s 1 normal forwards;
          animation: notslid 2.5s ease-in-out 0s 1 normal forwards;
}

@-webkit-keyframes slid {
  0% {
    opacity: 0;
    transform: translateX(-2000px);
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slid {
  0% {
    opacity: 0;
    transform: translateX(-2000px);
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@-webkit-keyframes slidmobile {
  0% {
    opacity: 0;
    transform: translateX(-500px);
  }
  100% {
    transform: translateX(0px);
    visibility: visible;
    opacity: 1;
  }
}
@keyframes slidmobile {
  0% {
    opacity: 0;
    transform: translateX(-500px);
  }
  100% {
    transform: translateX(0px);
    visibility: visible;
    opacity: 1;
  }
}
@-webkit-keyframes notslid {
  0% {
    opacity: 0;
    transform: translateX(2000px);
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes notslid {
  0% {
    opacity: 0;
    transform: translateX(2000px);
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@-webkit-keyframes margin {
  0% {
    opacity: 0;
    transform: translateY(-1000px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes margin {
  0% {
    opacity: 0;
    transform: translateY(-1000px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}/*# sourceMappingURL=main.css.map */